<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical 7</title>
</head>
<body>
    <p>Delete the data of a student : </p>
    <form action="/student/delete/" method="post">
        <label>Enter the roll_no of student : </label>
        <input type="number" name="rollno" id="rollno"> <br>
        <input type="submit" value="Delete!">
    </form>
</body>
</html>