<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Roll No : 36</p>
        <p>Name : Bhumi Mulani</p>
        <p>Address : VESIT</p>
        <br>
    </div>
    <form action="/student" method="get">
        <input type="submit" value="Create Student">
    </form>
    <form action="/" method="get">
        <input type="submit" value="Home">
    </form>
</body>
</html>