<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practcal 7</title>
</head>
<body>
    <p>This is home</p>
    <form action="/student" method="get">
        <input type="submit" value="Create Student">
    </form>
    <form action="/student/data" method="get">
        <input type="submit" value="View Students">
    </form>
    <form action="/student/update" method="get">
        <input type="submit" value="Update Students">
    </form>

    <form action="/student/delete" method="get">
        <input type="submit" value="Delete Students">
    </form>
</body>
</html>