<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical 7</title>
</head>
<body>

    <div>
        <!-- <% Students.forEach((student)=>{ %>
            <div>
                <p>Roll No : 1</p>
                <p>Name : Tejas Vartak</p>
                <p>Address : VESIT</p>
                <br>
            </div>
        <% }) %> -->



        <div>
            <p>Roll No : 1</p>
            <p>Name : Tejas Vartak</p>
            <p>Address : VESIT</p>
            <br>
        </div>
    </div>


    <form action="/student" method="get">
        <input type="submit" value="Create Student">
    </form>
    <form action="/" method="get">
        <input type="submit" value="Home">
    </form>
</body>
</html>